{% if not title %}
	{% set title="base" %}
{% endif%}


<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
	</head>
	<body>
		<nav>
			<a href="/">Todos</a> - 
			<a href="/todo/add">Add Todo</a> -
			<a href="/register">Register</a> - 
			<a href="/login">Login</a>
		</nav>
		<h1>{{ title }}</h1>
		{% for message in get_flashed_messages() %}
			<p> &gt; {{ message }}</p>
		{% endfor %}

		{% block content %}
		<p>body</p>
		{% endblock content %}
	</body>
</html>