{% if not title %}
	{% set title="base tite" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
	</head>
	<body>
		<h1>Addressbook</h1>
		<nav>
		<a href="/">Index</a> - 
		<a href="/add">Add a contact</a>
		</nav>
		<p>
		{% for message in get_flashed_messages() %}
			&nbsp;&nbsp;&nbsp; &gt; {{ message }}
		{% endfor %}
		</p>
		{% block content %}
		<p> base moo</p>
		{% endblock content %}
	</body>
</html>
