{% set title="Todos and Tasks" %}
{% extends "base.html" %}



{% block content %}
	{% if currentRoom() %}
		<p>You are in room: <b>{{ currentRoom().name }}</b> - <a href="/leaveroom">Leave Room</a></p>
	{% endif %}
	{% if currentUser() and not todos %}
		<p>No todos here, start by <a href="/todo/add">Adding a Todo</a></p>
	{% else %}
		<h3>Your Tasks:</h3>
	{% endif %}
	{% if not currentUser() %}
		<p> You need to Login to start with Todos and Tasks</p>
	{% endif %}
	<ul>
	{% for todo in todos %}
		<li>{{ todo.task }} - created: {{ todo.c_date }}
		 - <a href="/todo/{{ todo.id }}/edit">Edit</a>
		 - <a href="/todo/{{ todo.id }}/delete">Delete</a>
		</li>
	{% endfor %}
	</ul>

	{% if currentRoom() %}
		<p>Todos in this room: </p>
		{% for todo in todos %}
			{% if todo.roomId == currentRoom().id %}
				<p> _ {{ todo.task }}</p>
			{% endif %}
		{% endfor %}
		<form method=post>
			<label>Add a member to this room: 
			<input type=text name="add_member" id="add_member">
			</label>
			<input type=submit>
		</form>
	{% endif %}

{% endblock content %}
