<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title>
		{% if title %}
			{{ title }}
		{% else %}
			{% set title ="if ifblock" %}
			{{ title }}
		{% endif %}
		</title>
	</head>
	<body>
		<h1>Hi</h1>
		<div>
			{% block content %}
				<p>This is base block</p>
			{% endblock content %}
			{% if cars %}
				<p>there are cars</p>
			{% else %}
				<p>no cars here</p>
			{% endif %}

			{% if bikes %}
				<p>there are bikes</p>
			{% else %}
				<p>no bikes here</p>
			{% endif %}

			{% if luku %}
				<p>se ei ole nolla</p>
			{% else %}
				<p>se on nolla</p>
			{% endif %}
		</div>
		<div>
		<p>{{ day }}</p>
			{% for weekday in weekdays %}
			<p>
				{{ weekday }}
				{{ loop.index }}
				
				{% if loop.index|int == day+1|int %}
					
				&lt;&lt;&lt;&lt;&lt; Today is
				{% endif %}
			</p>
			{% endfor %}
		</div>
	</body>
</html>