{% set title="Event Planner" %}
{% extends "base.html" %}



{% block content %}
	{% if currentRoom() %}
		<p>You are viewing event: <b>{{ currentRoom().name }}</b> - <a href="/leaveroom">Leave view</a></p>
	{% endif %}
	{% if currentUser() and not tasks and not currentRoom() %}
		<p>No tasks here, start by <a href="/rooms">creating an Event</a></p>
	{% else %}
		<h3>Your Tasks:</h3>
	{% endif %}
	{% if not currentUser() %}
		<p> You need to Login to start with Eventplanner</p>
	{% endif %}
	<ul>
	{% for task in tasks %}
		<li>{{ task.task }} - created: {{ task.c_date }} - for event: {{ task.roomId }}
		 - <a href="/task/{{ task.id }}/edit">Edit</a>
		 - <a href="/task/{{ task.id }}/delete">Delete</a>
		</li>
	{% endfor %}
	</ul>

	{% if currentRoom() %}
		<a href="/eventview"><h3>View tasks for this Event</h3></a>
	
		
	{% endif %}

{% endblock content %}
