{% extends "base.html" %}

{% block title %}
form get post check
{% endblock title %}

{% block content %}
<p> TÄSSÄ on content block, josta löytyy formeja </p>

<form method=GET>
	Get this:<br>
	<input type="text" name="g"><br>
	Date:<br>
	<input type="date" name="fday"><br>
	<input type="submit">
</form>
<br>
<form method=POST>
	name:<br>
	<input type="text" name="name"><br>
	password:<br>
	<input type="password" name="password"><br>
	<input type=hidden name="csrf" value="9d3i<dsr4_3eghe#">
	<input type="submit">
</form>
<br>
<form method=GET>
	<div>
		<label> Your name please:
		<input type="text" name="name" id="name">
		 </label>
	</div>
	<div>
		<label for="email"> Your email please: </label>
		<input type="email" name="email" id="email"><br>
	</div>
	<input type="submit">
</form>
<br>

<fieldset>
<legend>Check boxes</legend>
	<form method=GET>
		<div>
			<input type="checkbox" name="check" id="check">
			<label for="check"> Checkbox</label>
		</div>
		<div>
			<input type="checkbox" name="toinen box" id="boxtwo">
			<label for="boxtwo"> toinen box</label>
		</div>
		<input type="submit">
	</form>
</fieldset>
{% endblock content %}