{% extends "base.html" %}

{% block content %}
<p> TÄSSÄ on content block, josta löytyy formeja </p>

<form method=GET>
	Get this:<br>
	<input type="text" name="g"><br>
	<input type="submit">
</form>
<br>
<form method=POST>
	name:<br>
	<input type="text" name="name"><br>
	password:<br>
	<input type="password" name="password"><br>
	<input type="submit">
</form>
<br>
<form action="" method=GET>
	<div>
		<label for="name"> Your name please: </label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="email"> Your email please: </label>
		<input type="email" name="email" id="email"><br>
	</div>
	<input type="submit">
</form>

<p> Checkbox juttu </p>
<fieldset>
	<form method=GET>
		<legend>Check boxes</legend>
		<div>
			<input type="checkbox" name="check" id="check">
			<label for="check"> Checkbox</label>
		</div>
		<div>
			<input type="checkbox" name="toinen box" id="boxtwo">
			<label for="boxtwo"> toinen box</label>
		</div>
		<input type="submit">
	</form>
</fieldset>
{% endblock content %}